*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '-apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif',sans-serif;
}
.banner img{
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 1400px;
   
}
.menu{
    margin-left: 40px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 0 16px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: rgba(36, 43, 62, 1);
   
    padding: 10px 25px;
}
.left, .right{
    display: flex;
    align-items: center;
    
}
.right form{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    border-radius: 7px ;
    margin-right: 30px;
    background-color: lavender;
    color: black;
    border: none;

    
}
.right input{
    width: 400px;
    margin-left: 10px;
    font-size: 18px;
   
}
.right input, button{
    border: none;
    outline: none;
    background: none;
    height: 40px;
}

.icon{
    font-size: 25px;
    
}
.banner{
    display: flex;
    align-items: center;
   
}
.banner img{
    width: 100%;
}
.category{
   
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 80px;
}
.icon{
    color: white;
}
.category img{
    width: 70%;
}
.category p{
    color: green;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.category .colum{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}
.img{
    text-align: center;
   height: 105px;
    padding: 15px;
}
.cate{
    background: transparent linear-gradient(90deg,#009981 0%,#00483d 100%) 0% 0% no-repeat;
    color: white;
    padding: 10px;
    border-radius: 7px;
   display: inline-block;
   margin-top: 20px;
  margin-bottom: 25px;
  font-size: 20px;
}
.category .colum:hover{
   margin-top: -20px;
   transition: 1s;
   border: 2px solid #00483d;
   margin-bottom: 20px;
}
.oder{
    background-color: #009981;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;

}
.local{
    background-color: #009981;
    display: flex;
    color: white;
    align-items: center;
}
.sale img{
   
}
.product{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
    background-color: rgba(245, 244, 249, 1);
    padding:  30px;
}
.product .colum{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    
}

.image_prd img{
    width: 100%;
  
   
}


