* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(36, 43, 62, 1);

    padding: 10px 25px;
}

.left,
.right {
    display: flex;
    align-items: center;

}

.right form {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 7px;
    margin-right: 30px;
    background-color: lavender;
    color: black;
    border: none;


}

.right input {
    width: 400px;
    margin-left: 10px;
    font-size: 18px;

}

.right input,
button {
    border: none;
    outline: none;
    background: none;
    height: 40px;
}

.icon {
    font-size: 25px;

}



.container {
    margin: 0 auto;
    width: 1400px;

}

h1 {
    color: rgb(85, 85, 85);
}

.container a {
    text-decoration: none;
    color: black;
}

.menu {
    margin-bottom: 2%;
    background-color: #232f3e;
    padding: 10px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    height: 43.2px;

}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 0 16px;
    padding-left: 200px;
}

.menu a:hover {

    color: aqua;
}

.menu-bottom {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 7px;
}

.menu-bottom ul li {
    display: inline-block;


}

.menu-bottom ul li a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}

.menu-bottom a:hover {
    text-decoration: underline;
    color: aqua;
}

.hang1 {
    display: flex;
    grid-gap: 30px;
}

.trai1 {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

}

.phai1 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

}

.cot1 {
    display: flex;
    grid-gap: 10px;

}

.cot2 {
    display: flex;
    grid-gap: 10px;
    padding-top: 7px;
}

.cot3 {
    display: flex;
    grid-gap: 10px;
    padding-top: 7px;
}

.cot4 {
    display: flex;
    grid-gap: 10px;
    padding-top: 7px;
}

.trai1 {
    grid-gap: 20px;
}

.dong {
    padding: 10px 0;
}

hr {
    margin-top: 15px;
}

.trai1 p {
    color: gray;
}

.khung2 {
    display: flex;
    margin-top: 30px;
    grid-gap: 30px;
}

.doc {
    display: flex;
    grid-gap: 10px;
    padding-top: 20px;
}

.doc2 {
    display: flex;
    margin-top: 15px;
    grid-gap: 10px;
}

.trai2 {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;

}

.phai2 {
    border: 1px solid gray;
    width: 328px;
    border-radius: 5px;
    padding: 20px;

}

.trai2 h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.phai3 {
    border: 1px solid gray;
    width: 328px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 2px 2px rgb(198, 198, 198); */
}

.phai3 img {
    width: 280px;
    height: 150px;
}

.anh1 {
    padding-top: 20px;
}

.doc iframe {
    width: 100%;
}

.phai3 h4 {
    text-align: center;
    padding-top: 10px;
}





/* background-color: rgb(174, 207, 207);   */

.cuoi {
    background-color: rgb(46, 127, 127);
    padding: 45px;
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
}

.mot img {
    width: 110px;
    height: 50px;
    border-radius: 0 15px;
}

.mot {
    margin-left: 45px;
}

.mot h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.mot h3 {
    padding-top: 20px;
}

.icon .fa-regular {
    margin-left: 20px;
    margin-top: 30px;
}

.hai {
    margin: 0 35px;
}

.hai h4 {
    margin-top: 20px;

}

.hai h4 li {
    margin-top: 10px;
}

.ba {
    margin: 0 35px;
}

.ba h4 {
    margin-top: 20px;

}

.ba h4 li {
    margin-top: 10px;
}

.bon {
    margin: 0 35px;
}

.bon h4 {
    margin-top: 20px;

}

.bon h4 li {
    margin-top: 10px;
}

.nam hr {
    margin-top: 30px;
}

.nam {
    margin-left: 25px;
}

.nam input {
    border: none;
    margin-left: 15px;
    padding-top: 13px;
    width: 200px;
    outline: none;

}

#xuong {
    padding: 20px 0;
}

#dich {
    padding-left: 45px;
}

.nam h3 i {
    padding-left: 7px;
    font-size: 25px;
}

#kinh {
    color: black;
}

.tkiem {
    border: 2px solid rgb(8, 114, 133);
    width: 250px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
}

.footer {
    display: flex;
    width: 1410px;
    grid-gap: 10px;
    height: 250px;
    text-align: center;
    align-items: center;
    background-color: #131921;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin-left: 3.9%;
}

.footer h4 {
    padding: 10px 0;
}

.footer p {
    padding: 2px;
}

.icon-ft {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.icon-phone {
    display: flex;
    justify-content: space-between;
    margin-left: 26%;

}

.icon-mail {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}

.connect {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    padding: 30px;
}

.ft-1 {
    width: 380px;
}

.ft-2 {
    width: 200px;
}

.ft-3 {
    width: 250px;
}

.ft-4 {
    width: 250px;
}

.ft-5 {
    width: 400px;
}

.ft-5 h3 {
    margin-top: -6%;
    padding-bottom: 1%;
}

.ft-nhapemail {
    display: flex;
    padding: 10px;
}

.ft-nhapemail input {
    width: 220px;
    height: 30px;
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-left: 18px;
}

.ft-nhapemail button {
    background-color: white;
    color: black;
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-left: 10%;
    padding: 5px;
}